* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #dcbb9f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
}

nav {
    display: flex;
    gap: 30px;
}

#logo {
    font-size: 25px;
    color: white;
}